!!! Strict
%html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    %title #{(title ? title + " - " : "")}Softwarebakery
    %link(href="/main.css" rel="stylesheet")
    %link(href="/print.css" rel="stylesheet" media="print")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
    %link(href="http://fonts.googleapis.com/css?family=Redressed&v1" rel="stylesheet" type="text/css")
  %body
    #container
      #header
        %a{href: "/"}
          %h1
            Softwarebakery
          %h2.tagline
            Delicious software
      = content
      
      #footer.clearfix
        %p Wheat running on node #{process.version}
        %p Wheat blogging engine is &copy; 2010 to Tim Caswell under the MIT license.
    :script
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :script
      try {
      var pageTracker = _gat._getTracker("UA-6675737-1");
      pageTracker._trackPageview();
      } catch(err) {}

    #background
