%article
  %header
    %h1
      %a{href: "/project/#{name}"}&= title
=content
%hr{style:"clear:both"}
#disqus_thread.body
:script
  var disqus_shortname = 'softwarebakery';
  var disqus_url = "https://softwarebakery.com/project/#{name}";
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();