article, aside, footer, header, hgroup, nav, section {
  display: block;
}

html {
  min-height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0 0;
  font-family: Helvetica;
  background-color: #A6A6A6;
}

#background {
  position: absolute;
  left: 0px; right: 0px;
  top: 0px;
  height: 500px;
  z-index: -1;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EBEBEB), to(#A6A6A6)) no-repeat;
}
#container {
  max-width: 1200px;
  min-width: 500px;
  margin: 0 auto;
}
#container a, #container a:link, #container a:active {
  color: #1654a7;
  font-weight: bold;
  text-decoration: none;
}
#container a:hover {
  color: #217efb;
  text-decoration: underline;
}
#header a,
#header a:link,
#header a:active,
#header a:hover {
  color: #000;
  text-decoration: none;
}
#header h1 {
  font-family: /*'Permanent Marker',*/ Redressed, sans-serif, serif;
  text-shadow: #666666 1px 1px 2px;
  /*font-weight: bold;*/
  font-size: 74px;
  line-height: 1em;
  color: #000;
  padding: 0;
  margin: 15px 6% -10px;
  /*text-transform:uppercase;*/
}
#header .tagline {
  display:none;
  font-family: Redressed, sans-serif;
  color: #222;
  text-shadow: #fff 1px 1px 3px;
  margin: -5px 60px 20px;
  /*font-weight: bold;*/
  font-size: 26px;
  line-height: 1em;
  padding: 0;
}
#footer {
  font-size: 13px;
  line-height: 1em;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  padding: 20px 0;
}
#footer.clearfix{
  clear:both;
}

#main {
  -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
#main {
  float:right;
  background-color: #fdfeff;
  padding: 10px 30px;
  margin-right:0;
  min-height: 300px;
  min-width: 300px;
  width: 70%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#main .sha-version {
  position: relative;
  float: right;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  margin: 0 0 -12px 0;
}
#main p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#main > img {
  margin: 0 10px 10px 0;
}
#main hr {
  background-color: #f3f3f3;
  border: 0;
  height: 1px;
}
#main .author, #main .date {
  text-align: right;
  font-size: 12px;
  line-height: 1.5em;
}
.share {
	float: right;
}
.articlemeta {
  height: 2.5em;
  margin-bottom: 0.5em;
  font-size: 12px;
}
.articlemeta .date, .articlemeta .lastUpdated {
  float: right;
  color: #cccccc;
  clear: both;
}
.articlemeta .date:before {
  content: 'published: ';
}
.articlemeta .lastUpdated:before {
  content: 'updated: ';
}
#main .author {
  white-space: nowrap;
  margin-top: 8px;
  margin-bottom: -50px;
  font-weight: bold;
}
#main .author img {
  width: 30px;
  height: 30px;
  float: right;
  margin: 3px 0 0 5px;
}
#main .author .date {
  font-weight: normal;
}
#main .snippet dl {
  border: 1px solid #aaa;
  background-color: #f6f5f4;
  margin: -1px -10px 0;
  padding: 10px;
  font-size: 90%;
}
#main .snippet dl:last-child {
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  font-family: monaco, consolas, monospace;
}
#main .snippet dt {
  font-weight: bold;
  font-family: sans-serif;
  float: right;
}
#main .snippet dd {
  margin: 0;
  padding: 0;
  white-space: pre;
}
#main .snippet .error {
  background-color: #fff0f0;
}
#main .snippet .error dt {
  color: #977;
}
#main .snippet .output {
  background-color: #f0fff0;
}
#main .snippet .output dt {
  color: #797;
}
#main code {
  font-family: monaco, consolas, monospace;
  font-size: 12px;
  background-color: #efeeed;
  border: 1px solid #e0e0e0;
}
#main p code {
  border: 1px solid #AAA;
  padding-left: 2px;
  padding-right: 2px;
}
#main pre {
  border: 1px solid #aaa;
  background-color: #f6f5f4;
  margin: 0 0px;
  display: block;
}
#main pre.scrollable {
  height: 20em;
}
.scrollable {
  overflow-y: scroll;
}
#main pre code {
  overflow-x: auto;
  max-height: 600px;
  font-size: 12px;
  line-height: 1.4em;
  display: block;
  padding: 10px;
  border: 0;
  background-color: inherit;
}
#main h1,
#main h2,
#main h3,
#main h4,
#main h5 {
  font-family: sans-serif;
  margin-top: .7em;
  margin-bottom: 0.1em;
}
#main h1 {
  color: #222;
  font-size: 2em;
}
#main h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  line-height: 1em;
  border-bottom: 2px dotted #aaa;
  color: #444;
  font-size: 1.7em;
}
#main h3 {
  color: #222;
  font-size: 1.2em;
  margin-top: 1.2em;
  margin-bottom: 0em;
}

#main h3+p {
    margin-top: 0em;
}

#main h4+p {
    margin-top: 0em;
}

#main h4 {
  color: #444;
  margin-top: 0.9em;
  font-size: 0.9em;
}

#main h1 a, #main h2 a, #main h3 a {
  text-shadow: 1px 1px rgba(22, 84, 167, 0.2)
}

/* Added the default paragraph style to
the list items to fix the size issue */
#main p, #main li {
  text-align: justify;
  font-size: 14px;
  line-height: 1.6em;
}
#main .code-link {
  position: relative;
  float: right;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  margin: 0 0px -24px;
  background-color: #fff;
  border: 1px solid #AAA;
  padding: 5px 10px;
  font-weight: bold;
  display: block;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
#main .code-link .hash {
  font-weight: normal;
}
.article {
  padding-bottom:10px;
  margin-bottom:7px;
  border-bottom:1px solid #ddd;
}

.gallery {
  height: 25%;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  overflow-x: scroll;
  white-space: nowrap;
}
.gallery img {
  height: 40%;
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  margin: 10px; padding: 0;
}

#sidebar {
  margin-left:0;
  float: right;
  width: 20%;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6em;
}
#sidebar dl {
  margin: 10px 0;
}
#sidebar h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
  border-bottom: 1px solid #aaa;
}
#sidebar dt {
  font-weight: bold;
}
#sidebar dd {
  margin-left: 20px;
}
#sidebar dd ul {
  padding: 0;
}
#sidebar ul {
  padding: 0px;
  margin: 0px;
}
#sidebar li {
  list-style: none;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
#sidebar li a {
  padding: .8em 15px;
  display: block;
}
#sidebar li span {
  cursor: default;
  color: rgba(0, 0, 0, 0.4);
  padding: .3em 15px;
  font-weight: bold;
  display: inline-block;
}
#sidebar li:first-child {
  border-top: 0px solid black;
}
#sidebar li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#sidebar ul ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.01);
}
#sidebar ul ul li a {
  padding: .4em 15px;
  background: rgba(0,0,0,0.15);
}
#sidebar ul.articles a,
#sidebar ul.projects a {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('bindings.xml#ellipsis');
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
}
#sidebar .versiontag {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 3px;
  border: 1px solid #888;
  background-color: #8bf;
  font-size: 10px;
  line-height: 1em;
  margin: 0 5px;
  font-weight: normal;
}
#sidebar .headshot {
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 10px 10px 0;
  border: 2px solid rgba(200, 200, 200, 0.2);
}
#sidebar .aside {
  margin-top: 20px;
  background: -moz-linear-gradient(top, #686664, #444444);
  background: -webkit-gradient(linear, 0 0, 0 90%, from(#686664), to(#444444));
  background-color: #5a5958;
  color: #fff;
  padding: 0px;
  border: 1px solid gray;
  border-radius: 0px 10px 10px 0px;
}
#sidebar .aside h3 {
  background-color: rgba(255, 255, 255, 0.4);
  background-color: #a3a2a1;
  /*Only for IE*/

  text-shadow: #ccc 1px 1px 2px;
  color: #000;
  margin: 0px;
  padding: 9px 10px 9px 20px;
}
#sidebar .aside a, #sidebar .aside a:link, #sidebar .aside a:active {
  color: #2ca8ff;
  font-weight: bold;
  text-decoration: none;
}
#sidebar .aside a:hover {
  color: #37d2ff;
  text-decoration: underline;
}

#sidebar li li a {

}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
.box {
  border: 1px #A3A2A1 solid;
  background-color: #F3F2F1;
  padding: 10px;
  margin: 10px;
}
.center {
  float: none;
  clear: both;
  text-align: center;
}

html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
@font-face {
  font-family: 'ArtBrushMedium';
  src: url('Artbrush.eot');
  src: local('ArtBrush'), local('ArtBrush'), url('Artbrush.woff') format('woff'), url('Artbrush.ttf') format('truetype'), url('Artbrush.svg#ArtBrush') format('svg');
}

@media (max-width: 700px) {
  #header h1 {
    font-size: 50px;
    text-align: center;
    display: block;
    margin: 5px;
    padding: 0;
  }
  .share {
    float: none;
  }
  #main h1 {
    margin-top: 0;
  }
  #main {
    min-height: 0;
    min-width: 0;
    width: auto;
    padding: 10px 20px;
  }
  #container {
    min-width: 0;
  }
  /*div.author { display: none; }*/
  #main, #sidebar {
  float: none;
  width: auto;
  }
  #sidebar .aside {
    border-radius: 0;
    background: transparent;
    border: 0;
  }
  #sidebar ul {
    display: block;
  }
  #sidebar ul span {
    display: none;
  }
  #sidebar ul ul {
    display: inline-block;
  }
  #sidebar ul ul li {
    border-top: 0;
  }
  #sidebar ul ul li a {
    padding: .8em 15px;
    background: transparent;
  }
  #sidebar li {
    display: inline-block;

    background: -webkit-gradient(linear, 0 0, 0 90%, from(#686664), to(#444444));
    border-radius: 5px;
    margin: 3px;
    border-top: 0;
  }
  #main img {
    max-width: 85%;\
  }
  #sidebar .submenu {
    background: transparent;
    display: inline;
  }
}